---
import { humanize } from "@/lib/utils/textConverter";
import Breadcrumbs from "@/layouts/components/widgets/Breadcrumbs.astro";

interface Props {
  title?: string;
  subtitle?: string;
  paddingBottom?: boolean;
  hiddenPaths?: string[];
}

const { title, subtitle, hiddenPaths, paddingBottom = false } = Astro.props;
---

<section class="pt-12 pb-2 md:pb-4">
  <div
    class:list={[
      "container flex flex-col items-center justify-center gap-y-5 text-center",
      { "pb-8 md:pb-16": paddingBottom },
    ]}>
    {
      title && (
        <h1 data-aos="fade-up-sm" class="text-h2">
          {humanize(title)}
        </h1>
      )
    }
    {
      subtitle && (
        <p data-aos="fade-up-sm" data-aos-delay="100" class="text-muted max-w-2xl">
          {subtitle}
        </p>
      )
    }
    <Breadcrumbs
      data-aos="fade-up-sm"
      data-aos-delay="200"
      hiddenPaths={hiddenPaths}
      class="border bg-white px-6 py-2.5 sm:rounded-full"
    />
  </div>
</section>
