---
import config from ".astro/config.generated.json" assert { type: "json" };
import { getBlogs, convertStrapiBlogToAstro } from "@/lib/utils/strapiApi";
import BlogCard from "../cards/BlogCard.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { useTranslations } from "@/lib/utils/i18nUtils";

interface Props {
  class?: string;
}

const strapiPosts = await getBlogs();

// Convert Strapi blogs to Astro format
const posts = strapiPosts.map(convertStrapiBlogToAstro);

const t = await useTranslations(Astro.currentLocale as string);

// Posts sorted by date
const sortedPosts = sortByDate(posts);

// Limit the number of items to be displayed
const recentPosts = sortedPosts.slice(0, 3);
---

{
  recentPosts && recentPosts.length > 0 && (
    <div class="space-y-4">
      <h2 class="text-h5 border-border-light/50 mb-4 border-b pb-4">
        {t("widgets.recentPostsTitle")}
      </h2>
      <div class="space-y-3">
        {recentPosts.map((post) => (
          <BlogCard
            content={post}
            options={{ card: { layout: "horizontal" } }}
          />
        ))}
      </div>
    </div>
  )
}
