/* prettier-ignore */
@theme inline {
  /* Configure font families in `src/config/fonts.json` */
  --leading-body: 1.8;
  --leading-inherit: inherit;

  /* Colors */
  --color-primary: #1f58eb;
  --color-secondary: #BCD4FF;
  --color-accent: #E4EA8C;
  --color-body: #fff;
  --color-border-light: #E5E5E5;
  --color-theme-dark: #101E43;
  --color-theme-light: #F9FBFF;
  
  --color-text-default: #2E2E2E;
  --color-dark: #000E30; /* Heading colors */
  --color-light: #565555;

  /* Screen */
  --breakpoint-*: initial;
  --breakpoint-xs: 440px;
  --breakpoint-sm: 540px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1320px;

  /* Typography */
  --text-base: 1rem;
  --text-base-scale: 1.22;
  --text-base-sm: calc(var(--text-base) * 0.9);
  --text-base-xs: calc(var(--text-base) * 0.8);

  --text-h1: calc(var(--text-base) * pow(var(--text-base-scale), 6));
  --text-h2: calc(var(--text-base) * pow(var(--text-base-scale), 5));
  --text-h3: calc(var(--text-base) * pow(var(--text-base-scale), 4));
  --text-h4: calc(var(--text-base) * pow(var(--text-base-scale), 3));
  --text-h5: calc(var(--text-base) * pow(var(--text-base-scale), 2));
  --text-h6: calc(var(--text-base) * pow(var(--text-base-scale), 1));

  --text-h1-sm: calc(var(--text-h1) * 0.7);
  --text-h2-sm: calc(var(--text-h2) * 0.7);
  --text-h3-sm: calc(var(--text-h3) * 0.7);
  --text-h1-md: calc(var(--text-h1) * 0.8);
  --text-h2-md: calc(var(--text-h2) * 0.8);
  --text-h3-md: calc(var(--text-h3) * 0.8);
  --text-h4-sm: calc(var(--text-h4) * 0.85);
  --text-h5-sm: calc(var(--text-h5) * 0.95);
  --text-h6-sm: calc(var(--text-h6) * 1);
}
