# Strapi CMS Configuration
# URL of your Strapi CMS instance
STRAPI_URL=http://localhost:1337
#STRAPI_URL=https://bold-dog-24d9579fdd.strapiapp.com

# Contact Form Configuration
# Email address for contact form submissions
CONTACT_EMAIL=enquiry@agilenlite.com

# Google reCAPTCHA v2 (Optional)
# Get your keys at https://www.google.com/recaptcha/admin
PUBLIC_RECAPTCHA_SITE_KEY=YOUR_RECAPTCHA_SITE_KEY_HERE