# Strapi CMS Configuration
# URL of your Strapi CMS instance
STRAPI_URL=http://localhost:1337
#STRAPI_URL=https://bold-dog-24d9579fdd.strapiapp.com

# Contact Form Configuration
# Email address for contact form submissions
CONTACT_EMAIL=enquiry@agilenlite.com